 <!-- This is a copy and paste of our infinite scroll html file so see references there -->

 <!-- Had some issues with rendering content and Chat-GPT helped debug. Realized we had a useless div. Also, helped with *ngIf.-->

 <div class="search-results">
  <div class="loader" *ngIf="isLoading">
  </div>
  <!-- Chat-GPT for tailwind text style -->
  <h1 class="text-center text-3xl font-bold py-5" *ngIf="items.length === 0 && loaded">No bookmarks</h1>
  <div class="data-card flip-card" *ngFor="let item of items">
      <div class="flip-card-inner" *ngIf="loaded">
          <div class="flip-card-front">
              <img src={{item.desktopWebHdpImageLink}} class="cover-photo">
          </div>
          <div class="flip-card-back">
              <app-property-card [listing]="item"></app-property-card>
          </div>
      </div>
  </div>
  <!-- Just for having some margin at the bottom. -->
  <div class="mb-[100px]"></div>
</div>