 <!-- This is a copy and paste of our infinite scroll html file so see references there -->

 <div class="search-results">
    <div class="loader" *ngIf="isLoading"></div>
     <div *ngIf="loaded">
        <!-- <h1 class="text-center py-5" *ngIf="items.length === 0">No bookmarks</h1> -->
        <div class="data-card flip-card" *ngFor="let item of items">
            <p>Test element</p>
            <div class="flip-card-inner ">
                <div class="flip-card-front">
                    <app-property-card-cover [listing]="item"></app-property-card-cover>
                </div>
                <div class="flip-card-back">
                    <app-property-card [listing]="item"></app-property-card>
                </div>
            </div>
        </div>
    </div>
</div>
