<!-- Some of the HTML below taken from these sources:
 https://www.youtube.com/watch?v=3IFyMCWziq4
 https://github.com/rd003/angular-23
 -->

<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
>

<!-- ChatGPT showed how to do conditional loading, debugging, and insert child components. -->
    <p *ngIf="zip === ''">Enter a valid zip code.</p>
    <div class="loader" *ngIf="isLoading && zip !== ''"></div>
    <div class="data-card flip-card" *ngFor="let item of items">
        <div class="flip-card-inner ">
            <div class="flip-card-front">
                <app-property-card-cover [listing]="item"></app-property-card-cover>
            </div>
            <div class="flip-card-back">
                <app-property-card [listing]="item"></app-property-card>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="isLoading && items.length !== 0 && zip !== ''"></div>
</div>