<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
>

<!-- ChatGPT showed how to do conditional loading, debugging, and insert child components. -->
    <div class="data-card flip-card" *ngFor="let item of items">
        <div class="flip-card-inner ">
            <div class="flip-card-front">
                <img class="h-8 w-8 rounded-full" src="https://cdn-icons-png.flaticon.com/512/4926/4926625.png" alt="">
            </div>
            <div class="flip-card-back">
                <app-property-card [listing]="item"></app-property-card>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf="isLoading"></div>
</div>