.main-hero{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}

.sidebar-container{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

}