<!-- Chat-GPT showed how to access properties of object with the ?. operator -->
<div class="flex flex-col">
  <div class="property-card">
      <div class="property-details">
        <h2 class="property-name">{{listing.streetAddress}}, {{listing.city}}, {{listing.state}}</h2>
        <p class="property-price">{{listing.price | currency:'USD':'symbol':'1.0-0'}}</p>
        <p class="property-address">{{listing.zpid}}</p>
        <div class="flex flex-row">
          <!-- Chat-GPT for handling click events with svg and ternary filling-->
          <svg class="bookmark-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" (click)="onLikeClick()">
            <path [attr.fill]="liked ? 'black' : 'none'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
          </svg>        
          <svg class="bookmark-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" (click)="onBookmarkClick()">
            <path [attr.fill]="bookmarked ? 'black' : 'none'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
          </svg>
          <svg class="bookmark-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 10.5h.01m-4.01 0h.01M8 10.5h.01M5 5h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-6.6a1 1 0 0 0-.69.275l-2.866 2.723A.5.5 0 0 1 8 18.635V17a1 1 0 0 0-1-1H5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"/>
          </svg>       
        </div>
        <!-- <img src="{{listing?.imgSrc}}" alt=""> -->
      </div>
  </div>
  <div class="property-card">
      <div class="property-features">
          <span>
            <i class="fas fa-bed"></i> {{listing.bedrooms}} beds
          </span>
          <span>
            <i class="fas fa-bath"></i> {{listing.bathrooms}} baths
          </span>
          <span>
            <i class="fas fa-vector-square"></i>{{listing.livingArea}} sqft
          </span>
          <button class="getImagesBtn" (click)="getPropertyCardImage()">See More Images</button>
      </div>
      <div>
        <p>load images here</p>
      </div>
      <div class="flex flex-row justify-end">
        <button class="getImagesBtn"><</button>
        <button class="getImagesBtn">></button>
      </div>
    </div>
</div>
